body {
    background-color: white;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#Tart {
    font-size: 200px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grey-box {
    background-color: lightgrey;
    text-align: center;
}

.cherry-text {
    font-size: 85px;
    color: darkred;
    letter-spacing: 10px;
}